@charset "utf-8";
/* main */
main{margin-top: 70px; width: 100%; height: auto;}
.m_wrap{width: 100%; height: auto;}
.m_wrap>img{width: 100%; height: auto;}
/* section */
section{width: 100%; height: auto; background-color: rgba(51, 48, 54, 0.1);}
section>.bar{display: none;}
section>article{width: 100%; height: 105vh; box-sizing: border-box; position: relative; background-repeat: no-repeat;
    background-size: cover; background-position: center;}
section>article>.flliter{width: 100%; height: 100%; background-color: rgba(51, 48, 54, 0.5);}
section>article:nth-child(2n-1) .flliter{background-color: rgba(51, 48, 54, 0.4);}
section>.contaner1{background-image: url(../sub/70year/day/gompyo70s_1952_7_big.jpg);}
section>.contaner2{background-image: url(../sub/70year/2000-10/gompyo20s_2000_1.png);}
section>.contaner3{background-image: url(../sub/70year/1980-90/gompyo70s_1980_3.jpg); background-position: right;}
section>.contaner4{background-image: url(../sub/70year/1960-70/gompyo70s_1960_5.png); background-position: left;}
section>.contaner5{background-image: url(../sub/70year/1950/gompyo70s_1950_3.png);}
section>article>.img_box{display: none;}
section>article .text_box{width: calc(100% / 1.4); position: absolute; top: 60%;
    left: 50%; transform: translate(-50%, -40%); color: white;}
section>article:nth-child(2n-1) .text_box{background-color: rgba(254, 254, 254, 0.7); padding: 10px 10px; border-radius: 5px;
    color: #222; box-sizing: border-box;}
section>article .text_box>h2{line-height: 2.7;}
section>article .text_box>h3{line-height: 2.2; font-size: 20px;}
section>article .text_box>p{line-height: 1.7; font-weight: 600; font-size: 17px;}
/* footer */



/* tap */
@media all and (min-width:800px){
    main{margin-top: 90px;}
    section>article{height: 97vh;}
    section>article>.flliter{display: none;}
    section>article>.img_box{display: block; width: 35%; height: 100%; position: absolute; top: 50%; right: 10vw;
        transform: translateY(-50%);}
    section>article>.img_box>li{width: 100%; height: auto; margin: 30px 0; box-shadow: 10px 10px 10px #222;}
    section>article>.img_box>li:first-child{margin-top: 15vh;}
    section>article>.img_box>li>img{width: 100%; height: 100%;}
    section>article .text_box{width: 40%; height: auto; top: 10%; left: 20px; transform: none; color: #222;}
    section>article:nth-child(2n) .text_box{background-color: rgba(254, 254, 254, 0.7); padding: 10px 10px; border-radius: 5px;
        color: #222; box-sizing: border-box;}
    section>.contaner1{background-image: unset; padding-bottom: 135vw;}
    section>.contaner2{background-image: unset; padding-bottom: 225vw;}
    section>.contaner3{background-image: unset; padding-bottom: 160vw;}
    section>.contaner4{background-image: unset; padding-bottom: 160vw;}
    section>.contaner5{background-image: unset; padding-bottom: 200vw;}
}

/* pc */
@media all and (min-width:1200px){
    main{margin-top: 180px;}
    section>.bar{display: block; width: 100px; height: 250px; position: fixed; bottom: 250px; right: 50px; transform: translateX(-50%);
        z-index: 99;}
    section>.bar>li{height: 26px; width: 100px; box-sizing: border-box; padding-left: 30px; margin-bottom: 32px; font-size: 15px; font-weight: 700;
        color: white; text-align: right; position: relative;}
    section>.bar>li>img{width: 27px; height: auto; opacity: 0; position: absolute; top: 0; left: 0;}
    section>.bar>li.on>img{opacity: 0.8;}
    section>.bar>li.on>p{color: #017840; font-size: 17px;}
    section>.bar>li:last-child{padding-bottom: 0;}
    section>article>.img_box{width: 20%; right: 20vw;}
    section>.contaner1{padding-bottom: 75vw;}
    section>.contaner2{padding-bottom: 130vw;}
    section>.contaner3{padding-bottom: 90vw;}
    section>.contaner4{padding-bottom: 90vw;}
    section>.contaner5{padding-bottom: 115vw;}
}